.main-content-container{

    .intro{
        margin-bottom: 5rem;
        padding-top: 7rem;
        position: relative;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;

        .fa-futbol{
            color: @main-color;
            
            left: 49%;
            position: absolute;
            // text-align: center;
            top: 1rem;
        }

        h2{
            color: @main-color;
            font-size: 4rem;
            margin-top: 3rem;
        }

        p{
            color: @main-color;
            width: 50%;
            font-size: 3.2rem;
            margin-top: 1rem;
        }

        img{
            width: 50%;
            margin-top: 2rem; 
        }
    }

    .directory{
        padding-top: 7rem;
        position: relative;
        text-align: center;
        margin-bottom: 5rem;

        .fa-futbol{
            color: @main-color;
            left: 49%;
            position: absolute;
            // text-align: center;
            top: 1rem;
            }
        }

        h2{
            color: @main-color;
            margin-top: 3rem;
        }

        .directory-boxes{
            display: flex;
            flex-wrap: wrap;

            .directory-content{
                width: 49%;
                text-align: center;
                margin-top: 5rem;

                h3 {
                    margin-top: 3rem;   
                }

                p{
                    width: 50%;
                    margin: 0 auto;
                    border-bottom: .1rem dashed @main-color;
                    padding-bottom: 1.5rem;
                }
            }
            img{
                width: 50%;
                height: 33.4rem;
                cursor: pointer;
            }
        }
    }

.intro:before{
    left: 3rem;
    border-bottom: 1.5px solid @main-color;
    border-top: 1.5px solid @main-color;
    content: '';
    height: 1rem;
   
    position: absolute;
    top: 2.75rem;
    width: 40%;
}

.intro:after{
    right: 3rem;
    border-bottom: 1.5px solid @main-color;
    border-top: 1.5px solid @main-color;
    content: '';
    height: 1rem;
    position: absolute;
    top: 2.75rem;
    width: 40%;
}

.directory:before{
    left: 3rem;
    border-bottom: 1.5px solid @main-color;
    border-top: 1.5px solid @main-color;
    content: '';
    height: 1rem;
    position: absolute;
    top: 2.75rem;
    width: 40%;
}

.directory:after{
    right: 3rem;
    border-bottom: 1.5px solid @main-color;
    border-top: 1.5px solid @main-color;
    content: '';
    height: 1rem;
    position: absolute;
    top: 2.75rem;
    width: 40%;
}